<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Comics</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Series</th>
          <th>Year</th>
          <th>URI</th>
        </tr>
      </thead>

      <tbody>
        <% @comics.each do |comic| %>
          <tr>
            <td><%= link_to comic.series, comic %></td>
            <td><%= comic.year %></td>
            <%- host = URI(comic.uri).host -%>
            <%- path = URI(comic.uri).path -%>
            <td><%= link_to (host + path), comic.uri %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to new_comic_path, class: 'btn btn-primary' do %>
     <i class="fa fa-plus"></i> New Comic
    <% end %>
  </div>
</div>
