<p id="notice"><%= notice %></p>

<h1><%= @comic.series %></h1>

<p>
  <strong>Uri:</strong>
  <%= @comic.uri %>
</p>

<p>
  <strong>Year:</strong>
  <%= @comic.year %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
